* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background: white;
}

.menu {
  display: flex;
  gap: 30px;
  list-style: none;
}

.menu a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.nav-btn {
  padding: 10px 20px;
  border: none;
  background: green;
  color: white;
  cursor: pointer;
}

.nav-btn:hover {
  background: gray;
}


.banner {
  height: 400px;
  background: url("./images/hero-bg.png") no-repeat center;
  color:white;
  text-align: center;
  padding-top: 120px;
}

.banner-btns button {
  padding: 10px 20px;
  margin: 10px;
  background-color: green;
  color: white;
  border: none;
  cursor: pointer;
}

.banner-btns button:hover {
  transform: scale(1.05);
}



.notes {
  padding: 60px;
  text-align: center;
}

.cards {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.card {
  width: 22%;
  padding: 20px;
  background: #f5f5f5;
  border-radius: 10px;
 
}

.card:hover {
  background: #f3eeee;
}

.brain {
  display: flex;
  width: 800px;
  height: 600px;
  gap: 60;
  padding: 60px;
  align-items: center;
  
}

.brain img {
  width: 300px;
  height: 300px;
}

.early {
  text-align: center;
  padding: 60px;
}

.early button:hover {
  background:green;
  color: white;
}

.social-links a {
  width: 40px;
  height: 40px;
  background: white;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}




