* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background: white;
}

.menu {
  display: flex;
  gap: 30px;
  list-style: none;
}

.menu a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.nav-btn {
  padding: 10px 20px;
  border: none;
  background: green;
  color: white;
  cursor: pointer;
}

.nav-btn:hover {
  background: gray;
}


.banner {
  height: 400px;
  background: url("./images/hero-bg.png") no-repeat center;
  color:white;
  text-align: center;
  padding-top: 120px;
}

.banner-btns button {
  padding: 10px 20px;
  margin: 10px;
  background-color: green;
  color: white;
  border: none;
  cursor: pointer;
}

.banner-btns button:hover {
  transform: scale(1.05);
}

